header {
    height : auto;
}

#top {
    position: relative;
    height : 120px;
}

#top > ul {
    position: absolute;
    height: 20px;
    width :80%;
    top:42%;
}

#top > ul > li {
    display : inline-block;
    margin-left : 7%;
}

#top > ul > li:nth-child(1) {
    margin-left : 0;
}


#top a {
    color: rgb(163, 163, 163);
    font-size : 1.5em;
    letter-spacing: 0.11em;
}

#top a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#top a:hover {
    color: #000;
    text-decoration: none;
}


footer {
    margin-top: 7%;
    height : 250px;
    position: relative;
    border-top: 1px solid lightgray;
}

footer > section {
    position: absolute;
    top : 39%;
    width: 90%;
    margin-left: 10%;
    color : #1a1a1a;
    font-size : 0.8em;
    letter-spacing: 0.07em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

footer > section > img {
    width :50px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-top : 10px;
}

footer ul {
    margin-top : 15px;
}
footer ul li{
    margin-top : 0.5%;
}