@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, input, textarea, select, button, table { 
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
}

a {
    outline : none;
    color:black;
}

a:hover {
    text-decoration: none;
}

/* reuse Start */
.marginLeft {
    margin-left : 10%;
}

.fontColor {
    color : gray;
}
/* reuse End */



body {
    font-size : 0.9em;
    font-family : '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    color : #000;
    position:relative;
}



#wrap {
    width : 80%;
    1min-width: 600px;
    height:auto;
    margin :0 auto;
}


#headerDecoration {
    position: absolute;
    height: 5px;
    top : 0;
    left: 0;
    right:0;
    background-color: lightcoral;
}

header {
    height : auto;
}

/*   contents  */

#mainBody {
    position: relative;
    min-height: 600px;
}

#categoryList{
    width : 20%;
    font-size : 2.5em;
    line-height: normal; /* because of change of font-size */
    position: absolute;
    left : -3%;
}

#categoryList li  {
    padding :2% 0%;
    text-align: right;
    font-family: 'Source Sans Pro', Verdana, sans-serif-webkit-body;
}

#categoryList a {
    color : lightcoral;
}

#categorylist li * {
    1-webkit-transition: color 0.3s ease-out;
    1-moz-transition: all 0.3s ease-out;
    1-o-transition: all 0.3s ease-out;
    1-ms-transition: all 0.3s ease-out;
    1transition: color 0.3s ease-out;
}

#categoryList li:hover {
    1background-color: #1a1a1a;
    background-color: rgb(163, 163, 163);
    1background-color:rgba(240, 128, 128,0.38);
    color: white;
}

#categoryList li:hover a{
    1background-color: #1a1a1a;
    background-color: rgb(163, 163, 163);
    1background-color:rgba(240, 128, 128,0.38);
    color: white;
}


#categoryList li div:nth-child(2) {
    margin-top: 0.5%;
    font-size : 0.5em;
}


/* section list */
#list {
    position: absolute;
    width : 65%;
    margin-left: 8%;
    left :15%;
    height : 500px;
    border-radius: 20px;
}

/* 마름모 UI */
#list > div {
    width : 30px;
    height: 30px;
    position: absolute;
    left : -10px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    z-index: 999;
    background-color: rgb(253, 215, 215);
}

#list section {
    display : none;
    position: absolute;
    width : 100%;
    height: auto;
    z-index: 1000;
    border-radius: 20px;
    background-color: rgb(253, 215, 215);
    padding : 30px;
    font-size : 1.6em;
    line-height: 1.8em;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
}

#list section:nth-of-type(1){
    display : block;
} 



@media screen and (max-width:401px) {

    #wrap {
        width:100%;
        min-width : 200px;
    }

    #top {
        height: 40px;
    }

    #top a {
        font-size: 13px;
    }

    #categoryList{
        font-size : 0.6em;
    }

    /* section list */
    #list {
        position: absolute;
        width : 55%;
    }

    #list section {
        padding : 15px;
        font-size : 0.8em;
    }

    /* 마름모 UI */
    #list > div {
        width : 20px;
        height: 20px;
        1position: absolute;
        left : -7px;
        1transform:rotate(45deg);
        1-ms-transform:rotate(45deg);
        1-webkit-transform:rotate(45deg);
        1z-index: 999;
        1background-color: rgb(253, 215, 215);
    }

    #top>ul {
        font-size : 0.6em;
    }
}

/**
 * 갤럭시탭(10.1) : 752 * 1280
 * 아이패드 : 768 * 1024
 * 아이패드 Retina: 1536 * 2048
 */

@media screen and (min-width:402px) and (max-width:990px) {

    #wrap {
        1border :2px solid red;
        min-width : 402px;
    }

    #top a {
        font-size : 1.2em;
        letter-spacing: 0.02em;
    }

    #categoryList {
        font-size: 1.5em;
    }

    #list {
        position: absolute;
        width : 75%;
    }

    #list section {
        padding : 20px;
        font-size : 1.1em;
    }

      

}
