@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, input, textarea, select, button, table{ 
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
}

a {
    outline : none;
    color:black;
}

a:hover {
    text-decoration: none;
}

/* reuse Start */
.marginLeft {
    margin-left : 10%;
}

.fontColor {
    color : gray;
}
/* reuse End */



body {
    font-size : 0.9em;
    font-family : '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    color : #000;
}

div#headerDecoration {
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0px;
    background-color: lightcoral;
}

div#wrap {
    width : 80%;
    height:auto;
    margin :0 auto;
}

header {
    height : auto;
}

nav#top {
    position: relative;
    height : 120px;
}

nav#top > ul {
    position: absolute;
    height: 20px;
    width :80%;
    top:42%;
}

nav#top > ul > li {
    display : inline-block;
    margin-left : 7%;
}

nav#top > ul > li:nth-child(1) {
    margin-left : 0;
}


nav#top a {
    color: rgb(163, 163, 163);
    font-size : 1.5em;
    letter-spacing: 0.11em;
}

nav#top a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

nav#top a:hover {
    color: #000;
    text-decoration: none;
}

header > div#title{
    width : 90%;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height : 250px;
    border-radius: 0.8em;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 2px 2px 4px #ECECEC;
    color : #1a1a1a;
}

header > div#title > div {
    position : absolute;
    line-height: 2em;
    top : 35%;
    margin-left :5.0%;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#title h1 {
    height : 0.8em;
    font-size : 6.5em;
    font-weight: 100;
    letter-spacing: 0.09em;
}


#title h2 {
    font-size: 2em;
    letter-spacing: 0.07em;
    color: lightcoral;
    font-family: Helvetica,sans-serif;
    font-weight: 300;
}

/*   contents  */

section#mainBody {
    position: relative;
}

#listWrap {
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
    top : 10%;
}

#listWrap ul#postList {
    margin-top: 3%;
    font-size : 1.5em;
    line-height: 1em; /* because of change of font-size */
}

ul#postList li  {
    padding :2% 3% 2% 5%;
    color :#1a1a1a;
    border-bottom : 1px solid lightgray;
}

ul#postList li * {
    1-webkit-transition: color 0.3s ease-out;
    1-moz-transition: all 0.3s ease-out;
    1-o-transition: all 0.3s ease-out;
    1-ms-transition: all 0.3s ease-out;
    1transition: color 0.3s ease-out;
}

ul#postList li:hover {
    1background-color: #1a1a1a;
    background-color: rgb(163, 163, 163);
    1background-color:rgba(240, 128, 128,0.38);
    color: white;
}

ul#postList li:hover a{
    1background-color: #1a1a1a;
    background-color: rgb(163, 163, 163);
    1background-color:rgba(240, 128, 128,0.38);
    color: white;
}


ul#postList li div:nth-child(2) {
    margin-top: 0.5%;
    font-size : 0.5em;
}

#listWrap nav#top a {
    color: rgb(163, 163, 163);
    font-size : 1.5em;
    letter-spacing: 0.11em;
}


footer {
    margin-top: 7%;
    height : 250px;
    position: relative;
    1border-top: 1px solid lightgray;
}

footer > section {
    position: absolute;
    top : 39%;
    width: 90%;
    margin-left: 10%;
    color : #1a1a1a;
    font-size : 0.8em;
    letter-spacing: 0.07em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

footer > section > img {
    width :50px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-top : 10px;
}

footer ul li{
    margin-top : 0.5%;
}


@media screen and (max-width:720px) {
    div#wrap {
        width : 90%;
    }

    header {
        margin : 20px 0;
    }

    h1.title {
        font-size : 2em;
    }

    .main_table thead th{
        font-size: 1em;
    }

    .main_table tbody td span {
        font-size: 0.75em;
        text-shadow: 0 1px 1px #fff;
    }

    .main_table tbody td:nth-of-type(3) span{
        font-size : 0.75em;
    }

}