@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, input, textarea, select, button, table{ 
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
}

a {
    outline : none;
    color:black;
}

a:hover {
    text-decoration: none;
}

/* reuse Start */
.marginLeft {
    margin-left : 10%;
}

.fontColor {
    color : gray;
}
/* reuse End */



body {
    font-size : 0.9em;
    font-family : '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    color : #000;
}

#headerDecoration {
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0px;
    background-color: lightcoral;
}

#wrap {
    width : 80%;
    height:auto;
    margin :0 auto;
    min-width: 640px;
}

#topMenu {
    height : auto;
}

#top {
    position: relative;
    height : 120px;
}

#top > ul {
    position: absolute;
    height: 20px;
    width :80%;
    top:42%;
}

#top > ul > li {
    display : inline-block;
    margin-left : 7%;
}

#top > ul > li:nth-child(1) {
    margin-left : 0;
}


#top a {
    color: rgb(163, 163, 163);
    font-size : 1.5em;
    letter-spacing: 0.11em;
}

#top a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#top a:hover {
    color: #000;
    text-decoration: none;
}


article {
    margin-top : 50px;
    border-radius : 8px;
}

article > header {
    width : 90%;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 7%;
    position: relative;
    color : #1a1a1a;
}

article > header {
    line-height: normal;
    margin-left :10%;
}

article > header > h1{
    margin-top :7%;
    margin-bottom:7%;
    font-size : 4em;
    letter-spacing: 0.05em;
}

article > header > section{
    font-size : 1em;
    letter-spacing: 0.05em;
    color : rgb(163, 163, 163);
}

.gubunBar {
    color :lightcoral;
}

/*   contents  */

#articleBody {
    margin-left: 10%;
    margin-right: 10%;
    font-size : 1.1em;
    line-height: 2.0em;
}

/*.pwithimg {
    text-align : center;
}

.pwithimg img {
    width : 80%;
    max-width: 800px;
}
*/
blockquote > p {
    text-align : center;
}

blockquote > p img {
    width : 80%;
    max-width: 800px;
}


#disqus_thread {
    width: 80%;
    margin: 0px auto;
    margin-top: 10%;
}

/* footer */
footer {
    margin-top: 7%;
    height : 250px;
    position: relative;
    border-top: 1px solid lightgray;
}

footer > section {
    position: absolute;
    top : 39%;
    width: 90%;
    margin-left: 10%;
    color : #1a1a1a;
    font-size : 0.8em;
    letter-spacing: 0.07em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

footer > section > img {
    width :50px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-top : 10px;
}

footer ul {
    margin-top : 15px;
}
footer ul li{
    margin-top : 0.5%;
}


pre {
    margin-left: 2em;
    background-color: #eff;
    border: solid 1px #bdd;
    padding: 4px;
}

.ruby .normal {}
.ruby .comment { color: #005; font-style: italic; }
.ruby .keyword { color: #A00; font-weight: bold; }
.ruby .method { color: #077; }
.ruby .class { color: #074; }
.ruby .module { color: #050; }
.ruby .punct { color: #447; font-weight: bold; }
.ruby .symbol { color: #099; }
.ruby .string { color: #944; background: #FFE; }
.ruby .char { color: #F07; }
.ruby .ident { color: #004; }
.ruby .constant { color: #07F; }
.ruby .regex { color: #B66; background: #FEF; }
.ruby .number { color: #F99; }
.ruby .attribute { color: #7BB; }
.ruby .global { color: #7FB; }
.ruby .expr { color: #227; }
.ruby .escape { color: #277; }

.xml .normal {}
.xml .namespace { color: #B66; font-weight: bold; }
.xml .tag { color: #F88; }
.xml .comment { color: #005; font-style: italic; }
.xml .punct { color: #447; font-weight: bold; }
.xml .string { color: #944; }
.xml .number { color: #F99; }
.xml .attribute { color: #BB7; }

.html .normal {}
.html .namespace { color: #B66; font-weight: bold; }
.html .tag { color: #F88; }
.html .comment { color: #005; font-style: italic; }
.html .punct { color: #447; font-weight: bold; }
.html .string { color: #944; }
.html .number { color: #F99; }
.html .attribute { color: #BB7; }



@media screen and (max-width:720px) {
    #wrap {
        width : 90%;
    }

    header {
        margin : 20px 0;
    }

    h1.title {
        font-size : 2em;
    }

    .main_table thead th{
        font-size: 1em;
    }

    .main_table tbody td span {
        font-size: 0.75em;
        text-shadow: 0 1px 1px #fff;
    }

    .main_table tbody td:nth-of-type(3) span{
        font-size : 0.75em;
    }

}