---
title : index
---
<!DOCTYPE html>
<html>
  <head>
    <title>test page</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <link href="/src/lib/css/reset.css" rel="stylesheet" media="screen">
    <link href="/src/css/common.css" rel="stylesheet" media="screen">
    <link href="/src/css/list.css" rel="stylesheet" media="screen">

	<!-- For test code -->
    <link rel="stylesheet" href="resources/qunit.css">

    <script>
    if (screen.width <=699) {
      document.location = "list_m.html";
    }
    </script>
  </head>
  <body>
  <!-- For Test code : Element -->
  	<div id="qunit"></div>
 	<div id="qunit-fixture"></div>
 	
  	<div id="wrap">
      <div id="headerDecoration"></div>
  		<header>
    		<nav id="top">
          <ul class="marginLeft">
            <li><a href="/">home</a></li>
            <li><a href="list.html">posts</a></li>
            <li><a href="http://github.com/nigayo">github</a></li>
            <li><a href="http://www.facebook.com/niganiga">facebook</a></li>
          </ul>
    		</nav>
  		</header>

  		<section id="mainBody">
        <ul id="categoryList">
          {% for catName in site.category-list %}
         <li>
          {{ catName }}
         </li>
          {% endfor %}
        </ul>
        <section id="list">
          <div></div>

          {% for catName in site.category-list %} 
          <section class={{catName | prepend :'CAT_'}}>
            <h1> {{catName}} </h1>
          <ul>
            {% for page in site.posts %}         
              {% for pc in page.categories %}
                   {% if pc == catName %}
                     <a href="{{ page.url }}">
                    <li>{{ page.title }}</li>
                    </a>
                  {% endif %} 
              {% endfor %} 
           {% endfor %}
          </ul>
          </section>
          {% endfor %} 

        </section>
        <!-- div id="listWrap">
          <ul id="postList">
               {% for post in site.posts limit:5 %}
                 <li>
                  <div><a href="{{ post.url }}">{{ post.title }}</a></div>
                  <div>{{ post.date | date: "%Y년 %m월 %d일" }}</div>
                   {% if pc == catName %}
                <span>list</span>
              {% endif %} 
                 </li>
              {% endfor %} 

            </ul>
        </div -->
 			</section>

      <!-- section>
      <a href="http://localhost:4000/next/2014/01/24/newEdu.html#disqus_thread"> comment link test</a>
      </section -->

  		 <footer>
            <section>
              <img src="/images/crong.jpg">
              <ul>
                <li>Younjisu , NEXT</li>
                <li>aniga75@gmail.com</li>
              </ul>
          </section>
        </footer>
      <!-- div id="mamul"> </div -->
  	</div>

	

    <script src="/src/lib/js/jindo_2.8.1.js"></script>
    <script src="/src/js/list_rf.js"></script>
    <script>
        $Element(document).attach('domready', function() {

          //set verticle center
          //utils.setLayout();

          var o = Nigayo.List();

          //내부 함수에서 Closure scope를 가지고 있음. 
          o.attachEvents();

          //본문 영역을 첫번째 선택한 것으로 fire!!
          o.fireLayer(); 
        });
    </script>

    <!-- For test code -->
    <script src="resources/qunit.js"></script>
    <script type="text/javascript" src="/src/lib/js/jsstub.js"></script>
    <script type="text/javascript" src="/src/lib/js/jsmock.js"></script> 
    <script src="js/list_test.js"></script> 
</body>
</html>
