1@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, input, textarea, select, button, table{ 
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
}

a {
    outline : none;
    color : #4D3900;
}

a:visited {
    color : #806F40;
}

a:hover {
    text-decoration: none;
    color : #807940;
}

blockquote {
    padding : 0px;   
    margin : 0px;
}


/* reuse Start */
.marginLeft {
    margin-left : 10%;
}

.fontColor {
    color : gray;
}
/* reuse End */


body {
    font-size : 0.9em;
    font-family : '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    color : #000;
    position : relative;
}


#wrap {
    width : 80%;
    min-width: 410px;
    height:auto;
    margin :0 auto;
}

#headerDecoration {
    position: absolute;
    height: 5px;
    top : 0;
    left: 0;
    right:0;
    background-color: lightcoral;
}

header {
    height : auto;
}

#top {
    position: relative;
    height : 120px;
}

#top > ul {
    position: absolute;
    height: 20px;
    width :80%;
    top:72%;
}

#top > ul > li {
    display : inline-block;
    margin-left : 7%;
}

#top > ul > li:nth-child(1) {
    margin-left : 0;
}


#top a {
    color: rgb(163, 163, 163);
    font-size : 1.5em;
    letter-spacing: 0.11em;
}

#top a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#top a:hover {
    color: #000;
    text-decoration: none;
}


footer {
    margin-top: 7%;
    height : 250px;
    position: relative;
    border-top: 1px solid lightgray;
}

footer > section {
    position: absolute;
    top : 39%;
    width: 90%;
    margin-left: 10%;
    color : #1a1a1a;
    font-size : 0.8em;
    letter-spacing: 0.07em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

footer > section > img {
    width :50px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-top : 10px;
}

footer ul {
    margin-top : 15px;
}
footer ul li{
    margin-top : 0.5%;
}


@media screen and (max-width:415px) {

    #wrap {
        width:100%;
        min-width : 200px;
    }

    #top {
        height: 40px;
    }

    #top a {
        font-size: 1.05em;
    }


    #top > ul > li {
        margin-left : 2%;
    }

    #top > ul > li:nth-child(1) {
        margin-left : 0;
    }

    footer {
        height: 100px;
        font-size : 0.6em;
    }
    footer > section {
    top : 10%;
    }
}


@media screen and (min-width:416px) and (max-width:990px) {

    #wrap {
        width : 90%;
        min-width : 402px;
    }

    #top a {
        font-size : 1.2em;
        letter-spacing: 0.02em;
    }
}