
/*   contents  */

#mainBody {
    position: relative;
    min-height: 600px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    overflow: auto;
}

.page_desc {
    font-size: 2em;
    margin-bottom: 100px;
    line-height: 1.5em;
}

.submessage {
    font-size : 0.7em;
}

#mainBody > ul > li {
    width: 45%;
    height: 200px;
    float: left;
    border : 10px solid rgba(240, 128, 128, 0.41);
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 340px;
    cursor: pointer;

}

#mainBody > ul > li > a {
    display: block;
    height: 180px;
    padding-top: 20px;
}

.lecture_title {
    1margin-top: 20px;
    text-align: center;
    font-size: 2.5em;
}

.lecture_description {
    margin-left: 5%;
    line-height: 1.7em;
    margin-top: 18px;
}

#mainBody > ul > li.ready_lecture {
    opacity: 0.4;
    position: relative;
    cursor: auto;
}

.ready_lecture:hover::after{
    content: "준비중이여요 ;-) ";
    font-size: 2.5em;
    color: red;
    background-color: #fff;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 150px;
}

@media screen and (max-width:415px) {

    #wrap {
        width:95%;
    }

    #mainBody {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 0px;
    }

    .page_desc {
        line-height: 1.2em;
        font-size : 1.2em;
        font-weight: bold;
        margin-left: 4%;
    }

    #mainBody > ul > li {
        width: 90%;
        min-width: 200px;
        float:none;
        margin : 0px auto 10px;
    }

    .lecture_title {
        font-size: 2.0em;
    }

    .lecture_description {
        margin-left: 5%;
        font-size: 0.9em;
        line-height: 1.5em;
        margin-top: 18px;
    }

    .page_desc {
        margin-bottom: 50px;
    }

    #top a {
        font-size: 1.00em;
    }

    footer > section {
        margin-top : 20px;
    }
}

/**
 * 갤럭시탭(10.1) : 752 * 1280
 * 아이패드 : 768 * 1024
 * 아이패드 Retina: 1536 * 2048
 */

@media screen and (min-width:416px) and (max-width:990px) {

}
