
#all_lists {
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    font-size : 1.2em;
    line-height: 1.5em;
}

.category_lists {
    margin-bottom : 5%;
}

.category_lists:last-child {
    margin-bottom : 0%;
}

.catName {
    background-color: lightcoral;
    font-size : 0.8em;
    padding : 0.7%;
    padding-left: 2%;
    color : rgb(255,255,255);
}

.catName + ul {
    padding : 2%;
    background-color: rgb(247, 247, 247);
}

.category_lists ul > li {
    font-size : 0.75em;
    line-height: 2em;
}
