---
title : index
---
<!DOCTYPE html>
<html>
  <head>
    <title>nigayo, blog article list</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="nigayo blog list">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Blog article list : nigayo">
    <meta property="og:description" content="작성된 blog article list입니다">

    <link href="/dest/css/0.0.1/listPage_m.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div id="wrap">
      <div id="headerDecoration"></div>
  		<header>
    		<nav id="top">
          <ul class="marginLeft">
            <li><a href="/">home</a></li>
            <li><a href="list.html">posts</a></li>
            <li><a href="/page/lecture.html">lecture</a></li>
            <li><a href="http://github.com/nigayo">github</a></li>
          </ul>
    		</nav>
  		</header>

      <section id="all_lists">
        {% for catName in site.category-list %}
        <section class="category_lists">
          <div class="catName">{{ catName }}</div>
          <ul>
              {% for page in site.posts %}         
                {% for pc in page.categories %}
                     {% if pc == catName %}
                      <li>
                      <a href="{{ page.url }}">
                      {{ page.title }}
                      </a>
                      </li>
                    {% endif %} 
                {% endfor %} 
             {% endfor %}
          </ul>
        </section>
        {% endfor %}
      </section>

  		 <footer>
            <section>
              <img src="/images/crong.jpg">
              <ul>
                <li>Younjisu at NEXT</li>
                <li>aniga75@gmail.com</li>
              </ul>
          </section>
        </footer>
      <!-- div id="mamul"> </div -->
  	</div>
    <script src="/dest/js/0.0.1/listPage_m_min_0.0.1.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45694371-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
